[submodule "mlibc"]
	path = vendor/mlibc
	url = ../../Keyronex/mlibc
[submodule "vendor/limine"]
	path = vendor/limine
	url = ../../Keyronex/limine
	branch = v8.x-binary
[submodule "vendor/uacpi"]
	path = vendor/uacpi
	url = https://github.com/UltraOS/uACPI.git
