[submodule "vendor/freestnd-c-hdrs"]
	path = vendor/freestnd-c-hdrs
	url = https://github.com/osdev0/freestnd-c-hdrs.git
[submodule "vendor/libgcc-binaries"]
	path = vendor/libgcc-binaries
	url = https://github.com/osdev0/libgcc-binaries.git
[submodule "vendor/mlibc"]
	path = vendor/mlibc
	url = ../../Keyronex/mlibc.git
[submodule "vendor/limine"]
	path = vendor/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v10.x-binary
[submodule "vendor/uacpi"]
	path = vendor/uacpi
	url = https://github.com/uACPI/uACPI.git
