[submodule "mlibc"]
	path = mlibc
	url = ../../Keyronex/mlibc
[submodule "vendor/limine"]
	path = vendor/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v5.x-branch-binary
[submodule "vendor/uacpi"]
	path = vendor/uacpi
	url = https://github.com/UltraOS/uACPI.git
