# meson generates ignores for build directories
# so they are not needed
.cache/*
docs/htmlout
docs/latexout
compile_commands.json
*.out
out
hda.img
kjv.img
subprojects/cxxshim*
subprojects/frigg*
test.c
ports/
bundled/
*.xbstrap
build/
