autom4te.cache
configure~
configure
build-aux/install-sh
build
build0
.vscode/
vendor/limine/limine-deploy
barebones.iso
compile_commands.json
.cache/
.gdbinit
mine/
subprojects/cxxshim*
subprojects/frigg*
a.out
/hda.img
/html
/latex
out
outhtml
*.elf
*.o
epolltest.c
test.c
ldout
libcout

