# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0

TERM_MARGIN=20

# The entry name that will be displayed in the boot menu
:Keyronex

# Change the protocol line depending on the used protocol.
PROTOCOL=limine

# Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
KERNEL_PATH=boot:///keyronex
VERBOSE=yes
RESOLUTION=1024x768

MODULE_PATH=boot:///viostor.sys
MODULE_PATH=boot:///storahci.sys
MODULE_PATH=boot:///nvme.sys
MODULE_PATH=boot:///vioscsi.sys
